body {
    font-family: Arial, sans-serif;
    background-color: #e6eff1;
}

.table {
    width: 100%;
    border-collapse: collapse;
    max-width: 800px;
    margin: 0 auto;
}

.th,
.td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #056aee;
}

.th {
    background-color: #0184ff41;
}

h1 {
    color: #056aee;
    font-size: 10em; 
    margin: 0; 
}

.top-footer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #056aee;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    z-index: 1000;
}

.content {
    padding-top: 10px;
}

.boton-transparente {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url('images/iconoRegreso.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-right: 1800px;
    margin-top: 20px;
}